.quiz-results {
    background-image: url('../../images/kineska-pozadina2.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.succes, .failed {
    background-color: rgb(39, 39, 39);
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    color: white;
    padding: 100px;
    text-align: center;
    animation: spawn .6s;
}

@keyframes spawn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotateY(360deg);
    }
}

.quiz-results h1 {
    color: rgb(255, 0, 98);
}

.quiz-results button {
    margin: 100px;
    padding: 20px 30px;
    font-size: 3rem;
    background-color: rgb(255, 0, 98);
    color: white;
    transition: 100ms;
}

.quiz-results button:hover {
    background-color: rgba(255, 0, 98, 0.8);
}